<!DOCTYPE html>
<html>
   <head>
      <title>update User</title>
   </head>
   <body>
      <h3>User form</h3>
      <form action="/user/update/{{user.id}}" method="POST">
         <label>Name</label>
         <input type="text" name= "name" placeholder="name..." value="{{user.name}}">
         <label>library Id</label>
         <input type="text" name= "library_id" placeholder="library id..." value="{{user.library_id}}">
         <button type="submit">Add</button>
      </form>
      <hr>
      <p>- {{error}}</p>
   </body>
</html>