<!DOCTYPE html>
<html>
   <head>
      <title>Add User</title>
   </head>
   <body>
      <h3>User form</h3>
      <form action="/user/add" method="POST">
         <label>Name</label>
         <input type="text" name= "name" placeholder="name...">
         <label>library Id</label>
         <input type="text" name= "library_id" placeholder="library id..." value="{{data.library_id}}">
         <button type="submit">Add</button>
      </form>
      {% if error != '' %}
         <hr>
         <p>- {{error}}</p>
      {% endif %}
   </body>
</html>